/* Define CSS variables with fallbacks */
:root {
    --footer-color: white; /* Fallback value for footer color */
 }

/* 3 unique relative units */ 
.wrapper {
    font-size: 1.5rem;
 }

.ch {
    width: 150ch;
 }
  
.vw {
    width: 100vw;
 }
  
.em {
    width: 10em;
 }

/* 3 unique absolute units */
.pres {
    width: 60px;
    border: 5px solid red;
}

.unfi {
    width: 4cm;
    border: 0.1cm solid green;
}

.comm {
    width: 2.4in;
    border: 0.05in solid blue;
}

/* box model */
.box {
    width: 250px; /* width */
    height: 150px; /* height */
    margin: 25px 50px 50px 14em;
    padding: 25px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 10px;
    display: block; /* Display block */
  }
.alternate {
    max-width: 240px; /* max-width */
    max-height: 130px; /* max-height */
    box-sizing: border-box;
    margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 4em;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 4em;
  }
.auto {
    margin: auto;
    display: inline-block; /* Display inline-block */
    padding: 30px 20px 30px 3em;
}
/* position */
#one {
    position: static;
    background: lightcoral;
}
#two {
    position: relative;
    top: 20px;
    left: 20px;
    background: lightblue;
  }

/* Text */
.under {
    text-decoration: underline red;
    text-align: center;
}

/* Psuedo-classes */
button:hover {
    color: blue;
}
button:active {
    box-shadow: 2px 2px 5px #fc894d;
  }
  
/* Layouts */
.flex-container {
    display: flex; /*Flexbox*/
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }
.item {
    border: 2px solid black;
}
.grid-container { /*Grid*/
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 5px;
    grid-template:
    [row1-start] "header header header" 25px [row1-end]
    [row2-start] "footer footer footer" 25px [row2-end]
    / auto 50px auto;
}

/* CSS File comment */
h1 {
    color: hsl(0, 0%, 40%); /* hue, saturation, lightness, alpha values */
 }
 
 
 h2 {
    color:dodgerblue;
 }
 
 
 h3 {
    color: color(srgb 0 0 1);  /* predefined color space, values for color space*/
 }
 
 
 footer {
    color: var(color-mix(in srgb, #eb3434, grey), --footer-color); /*method to mix colors, values & percentages of color*/
 } 