/* Define CSS variables with fallbacks */
:root {
    --heading-color: white; /* Fallback value for heading color */
    --footer-color: white; /* Default value for footer color */
  }

/* CSS File comment */
h1 {
    color: var(hsl(0, 0%, 40%), --heading-color); /* hue, saturation, lightness, alpha values */
 }
 
 
 h2 {
    color:dodgerblue;
 }
 
 
 h3 {
    color: color(srgb 0 0 1);  /* predefined color space, values for color space*/
 }
 
 
 footer {
    color: var(--footer-color, color-mix(in srgb, #eb3434, grey)); /*method to mix colors, values & percentages of color*/
 } 